@media (max-width: 46.1875em) {
  .hide-on-mobile {
    display: none;
  }

  .slide {
    max-width: 430px;
  }

  .slide__img {
    min-width: 100%;
    height: 400px;
  }
}

@media (min-width: 46.25em) and (max-width: 64em) {
  .slide {
    max-width: 800px;
  }

  .slide__img {
    min-width: 100%;
    height: 500px;
  }
}
